
        <section class="section">
            <div class="mainDiv">
                <form>
                    <input type="text" placeholder="Назва">
                    <input type="text" placeholder="Опис">
                    <input type="file">
                    <br>
                    <label for="start" class="finish">початок завдання</label>
                    <br>
                    <input type="date" value="" id="start">
                    <br>
                    <label for="finish" class="finish">здача завдання</label>
                    <br>
                    <input type="date" value="" id="finish">
                    <input type="submit" value="Створити" class="submit">
                </form>
            </div>
        </section>
            <section>
                <div class="table2">
                    <table class="table">
                       <thead class="table-dark">
                           <tr><th>Номер</th><th>Назва</th><th>Опис</th><th>Початок</th><th>Здача</th></tr>
                       </thead>
                       <tbody>
                           <tr><td>№1</td><td>Заголовок</td><td>h1-h6</td><td>2025.06.02</td><td>2025.07.02</td></tr>
                           <tr><td>№2</td><td>Параграф</td><td>В ньому текст</td><td>2025.05.07</td><td>2025.06.07</td></tr>
                           <tr><td>№3</td><td>Таблиці</td><td>Тут приклад</td><td>2025.11.31</td><td>2025.12.31</td></tr>
                        </tbody>
                    </table>
                </div>
            </section>