
    <section class="section">
      <div class="mainDiv">
          <a href="/Views/HomeWork/Edit.html">Редагувати</a>
                <div class="divselect">
                    <h2>Назва:  </h2>
                    <p>Опис:</p>
                    <p>Початок заняття</p>
                    <p>Кінець заняття:</p>
                </div>
                <a href="/schedule/schedule.html" class="btn-shedule">Редагувати</a>
            </div>
    </section>