@model MyMvcApp.Models.HomeworkViewModel
        <section class="section">
            <div class="mainDiv">
                <form asp-action="Edit" asp-controller="HomeWork" method="post">
                    <input type="text" asp-for="HomeworkName" placeholder="Змінити назву">
                    <input type="text" asp-for="HomeworkDescription" placeholder="Змінити опис">
                    <input type="file">
                    <br>
                    <label for="start" class="finish">Змінити початок завдання</label>
                    <br>
                    <input type="date" value="" id="start">
                    <br>
                    <label for="finish" class="finish">Змінити здачу завдання</label>
                    <br>
                    <input type="date" value="" id="finish">
                    <input type="submit" value="Редагувати" class="submit">
                </form>
            </div>
        </section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}