
        <section class="section">
            <div class="mainDiv">
                <form>
                    <input type="text" placeholder="Змінити назву">
                    <input type="text" placeholder="Змінити опис">
                    <input type="file">
                    <br>
                    <label for="start" class="finish">Змінити початок завдання</label>
                    <br>
                    <input type="date" value="" id="start">
                    <br>
                    <label for="finish" class="finish">Змінити здачу завдання</label>
                    <br>
                    <input type="date" value="" id="finish">
                    <input type="submit" value="Редагувати" class="submit">
                </form>
            </div>
        </section>