
            <section class="sect">
                <div class="osnova">
                    <div class="osnova2">
                        <div class="div02">
                            <div class="div03">
                                <div class="div031"> <h1> Повторення шрифтів </h1> </div>
                                <div class="div032"> <h2> 16.10-20.10 </h2> </div>
                            </div>
                            <div class="div04"> <p> Ознайомитися з роботою зі шрифтами в вебі: як підключати шрифти,
                                керувати їми через CSS,забезпечувати запасні варіанти (fallback), та звертати увагу
                                на продуктивність і доступність. </p> </div>
                            <div class="div05">
                                <div class="div051"> <img class="img1" src="https://itchief.ru/assets/covers/html-and-css/fonts.png"> </div>
                                <div class="div052"> <img class="img2" src="https://naurok.com.ua/uploads/files/1394465/265607/289781_images/2.jpg"> </div>
                            </div>
                        </div>
                        <div class="div01">
                            <div class="div011"> <button class="button"> Здати роботу </button> </div>
                            <div class="div012"> <p>
                                Учень створив вебсторінку, на якій підключив і використав різні шрифти через Google
                                Fonts та face, налаштував їх властивості у CSS,додав запасні шрифти, забезпечив
                                читабельність і масштабованість тексту. </p> </div>
                            <div class="div013">  <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" /> </div>
                        </div>
                    </div>
                </div>
            </section>