<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyMvcApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyMvcApp.styles.css" asp-append-version="true" />
    

</head>
<body>
    <header>
       <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/teacherpage/teacherpage.html">Адмін панель</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" asp-controller="Direction" asp-action="Create">Напрямок</a>
                            <a class="nav-link" asp-controller="Destination" asp-action="Index">Місце проведення</a>
                            <a class="nav-link" asp-controller="Group" asp-action="Create">Групи</a>
                            <a class="nav-link" asp-controller="Home" asp-action="Index">На головну</a>
                            <a class="nav-link" asp-controller="HomeWork" asp-action="Create">Д\З</a>
                            <a class="nav-link "asp-controller="Schedule" asp-action="Create">Розклад</a>
                            <a class="nav-link" asp-controller="Student" asp-action="Create">Сторінка студента</a>
                            <a class="nav-link" asp-controller="Task" asp-action="Create">Задачі</a>
                            <a class="nav-link" asp-controller="Teacherpage" asp-action="Create">Сторінка вчителя</a>
                            <a class="nav-link" asp-controller="Test" asp-action="Create">Тести</a>
                            
                        </div>
                    </div>
                </div>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
   
      <footer style="display: flex;" class="border-top" id="footer1">

            <div class="divfooter">
                <div class="divfootsect">
                     <h4 class="h4footer">Загальне</h4>
                    <ul class="ulfooter">

                        <li><a>Корисні посилання</a></li>
                        <li><a>Навігація по веб сайту</a></li>
                        <li><a>Контакти</a></li>

                    </ul>
                </div>
                

                </div>
                <div class="divfootsect">
                    <h4>Контакти</h4>
                <ul class="ulfooter">
                        <li><a>Номер телефона:82393029</a></li>
                        <li><a>Gmail:cobtahacademy@gmail.com</a></li>
                        <li><a>Адрес:Вул.Івана Франка</a></li>

                    </ul>



                </div>  
            </div>
        </footer>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
