<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyMvcApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/GroupDetails.css" />
    <link rel="stylesheet" href="/css/Create.css" />
    <link rel="stylesheet" href="/css/color.css" />
        <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/details.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyMvcApp.styles.css" asp-append-version="true" />
</head>
<body id="body">
    <header>
        <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Кабінет Адміна</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>  
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" asp-controller="Direction" asp-action="Create">Direction</a>
                            <a class="nav-link"asp-controller="Destination" asp-action="Create">Destination</a>
                            <a class="nav-link" asp-controller="Group" asp-action="Create">Group</a>
                            <a class="nav-link" asp-controller="HomeWork"asp-action="Create">HomeWork</a>
                            <a class="nav-link" asp-controller="Student" asp-action="Index">Student</a>
                            <a class="nav-link" asp-controller="Teacherpage"asp-action="Index">Teacherpage</a>
                            <a class="nav-link" asp-controller="Test" asp-action="Create">Test</a>
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                        </div>
                    </div>
                </div>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
            <div class="divfooter">
                <div class="divfootsect">
                    <ul class="ulfooter">

                        <li><a>Контакти</a></li>
                        <li><a>Корисні посилання</a></li>
                        <li><a>Навігація по веб сайту</a></li>
                        

                    </ul>
                </div>
                <div class="divfootsect">
                <ul class="ulfooter">

                        <li><a>Тести</a></li>
                        <li><a>Домашня</a></li>
                        <li><a>Завдання</a></li>

                    </ul>



                </div>
                <div class="divfootsect">
                <ul class="ulfooter">

                        <li><a>Адреса: Вул.Івана Франка</a></li>
                        <li><a>Номер телефону: 82393029</a></li>
                        <li><a>Gmail: cobtahacademy@gmail.com</a></li>


                    </ul>



                </div>  
            </div>
      
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
@if (User.IsInRole("Admin"))
{
    <a asp-controller="Admin" asp-action="CreateUser">Створити користувача</a>
}
