
        <section class="section">
            <div class="mainDiv">
                <H2>Редагування групи:</H2>
                <form>
                    <input type="text" placeholder="Назва" />
                    <input type="text" placeholder="Опис" />
                    <div class="divselect">
                        <label for="direct">Редагувати напрямок групи:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="">Html</option>
                            <option value="">Css</option>
                            <option value="">Js</option>
                            <option value="">Java</option>
                        </select>
                    </div>
                    <div class="divselect">
                        <label for="vanue">Редагувати місце проведення:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="">Виноградів</option>
                            <option value="">Ужгород</option>
                            <option value="">Варшава</option>
                            <option value="">Нью-Йорк</option>
                        </select>
                    </div>
                    <input type="submit" value="Створити" class="button" />
                </form>
            </div>
        </section>