
            <section class="section">
                <div class="divflex">
                <div class="mainDiv">
                    <form>
                        <input type="text" placeholder="Назва" />
                        <input type="text" placeholder="Опис" />
                        <input type="time" placeholder="" />
                        <input type="submit" value="Створити" class="button" />
                    </form>
                </div>
                <div class="maindiv2">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>Ім'я</th>
                                <th>2</th>
                                <th>3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Даніель</td>
                                <td>увв</td>
                                <td>Нвr</td>
                            </tr>
                            <tr>
                                <td>Назар</td>
                                <td>sdd</td>
                                <td>sdd</td>
                            </tr>
                            <tr>
                               <td>Назар junior</td>
                                <td>ss</td>
                                <td>sdd</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </section>