/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xlfqnswz7s] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xlfqnswz7s] {
  color: #0077cc;
}

.btn-primary[b-xlfqnswz7s] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xlfqnswz7s], .nav-pills .show > .nav-link[b-xlfqnswz7s] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.box-shadow[b-xlfqnswz7s] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xlfqnswz7s] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xlfqnswz7s] {
 
  width: 100%;
  white-space: nowrap;
  line-height: 40px;
  padding-top: 10px;
}
.divfooter[b-xlfqnswz7s] {
    display: flex;
}

.divfootsect[b-xlfqnswz7s] {
    width: 33.3%;
    justify-items: left;
    padding-left: 32px;
}
.ulfooter[b-xlfqnswz7s] {
    text-decoration: none;
    list-style-type: none;
    font-weight: 200;
    padding: 0;
    text-align: left;

}
.ulfooter li[b-xlfqnswz7s] {
    margin: 10px;
    padding: 0;
    margin-left: 0;
}

body[b-xlfqnswz7s] {
    padding: 0;
    margin: 0;
}
.h4footer[b-xlfqnswz7s] {
    text-align: center;
    font-size: 1.1rem;
}
