obj/
bin/
/.vs/MyMvcApp/CopilotIndices/18.3.508.13148/CodeChunks.db
/.vs/MyMvcApp/CopilotIndices/18.3.508.13148/CodeChunks.db-shm
/.vs/MyMvcApp/CopilotIndices/18.3.508.13148/CodeChunks.db-wal
/.vs/MyMvcApp/CopilotIndices/18.3.508.13148/SemanticSymbols.db
/.vs/MyMvcApp/CopilotIndices/18.3.508.13148/SemanticSymbols.db-shm
/.vs/MyMvcApp/CopilotIndices/18.3.508.13148/SemanticSymbols.db-wal
/.vs/MyMvcApp/config/applicationhost.config
/.vs/ProjectEvaluation/mymvcapp.metadata.v10.bin
/.vs/ProjectEvaluation/mymvcapp.projects.v10.bin
/.vs/ProjectEvaluation/mymvcapp.strings.v10.bin
/.vs/MyMvcApp/v18/.futdcache.v2
/.vs/MyMvcApp/v18/.suo
/.vs/MyMvcApp/v18/DocumentLayout.backup.json
/.vs/MyMvcApp/v18/DocumentLayout.json
/.vs/MyMvcApp/v18/HierarchyCache.v1.txt
/.vs/MyMvcApp/FileContentIndex/2b0d0c96-4ee6-4bbc-964c-69913df195bd.vsidx
/.vs/MyMvcApp/FileContentIndex/62751c26-ea96-4ca0-be53-9bd41ae5a057.vsidx
/.vs/MyMvcApp/FileContentIndex/b51283df-3bb4-4d0a-8887-b142df46b903.vsidx
/.vs/MyMvcApp/FileContentIndex/c1340ea2-6c65-4d5e-acd4-bfa5c1b8829e.vsidx
/.vs/MyMvcApp/DesignTimeBuild/.dtbcache.v2
/.vs/MyMvcApp/FileContentIndex/26253951-3df3-4a47-9d6c-4714d718a6f6.vsidx
/.vs/MyMvcApp/FileContentIndex/5ad3dcd2-1342-4402-b65d-460d00a3841a.vsidx
