<section class="section">
            <div class="mainDiv">
                <form>
                    <input type="text" placeholder="Назва" />
                    <input type="text" placeholder="Адреса" />
                    <input type="submit" value="Створити" class="button" />
                </form>
            </div>
        </section>