@using Microsoft.AspNetCore.Mvc.ModelBinding
@model MyMvcApp.Models.PlaceViewModel
    <section class="section">
      <div class="mainDiv">
                <div class="divselect">
                    <h2>@Model.Name </h2>
                    <p>@Model.Address</p>
                </div>
            <a href="/Views/Destination/Edit.html">Перейти</a>
            </div>
    </section>
            @section Scripts
        {
            <partial name="_ValidationScriptsPartial" />
        }