
    <section class="section">
      <div class="mainDiv">
                <div class="divselect">
                    <h2> Місце проведення:</h2>
                    <p>Дата проведення:</p>
                </div>
                <a href="/Views/Schedule/Edit.html"class="btn-shedule">Редагувати</a>
            </div>
    </section>