<
        <section class="section">
            <div class="mainDiv">
                <form>
                    <div class="divselect">
                       <label for="vanue">Редагувати місце проведення:</label>
                        <select class="form-select" aria-label="Default select example">
                            <option value="">Виноградів</option>
                            <option value="">Ужгород</option>
                            <option value="">Варшава</option>
                            <option value="">Нью-Йорк</option>
                        </select>
                    </div>
                    <div class="divselect">
                    <label for="vanue">Редагувати день проведення:</label>
                    <select class="form-select" aria-label="Default select example">
                            <option value="">Понеділок</option>
                            <option value="">Вівторок</option>
                            <option value="">Середа</option>
                            <option value="">Четвер</option>
                            <option value="">Пятниця</option>
                            <option value="">Субота</option>
                            <option value="">Неділя</option>
                        </select>
                    </div>
                    <input type="time">
                    <input type="submit" value="Редагувати" class="button" />
                </form>
            </div>
        </section>