
            <section>
                <div class="table2">
                    <table class="table">
                        <thead class="table-dark th1">
                            <tr>
                                <th class="th">Понеділок</th>
                                <th>Вівторок</th>
                                <th>Середа</th>
                                <th>Четверь</th>
                                <th>П'ятниця</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>G03:9-12:20</td>
                                <td>G03:9-12:20</td>
                                <td>G03:9-12:20</td>
                                <td>G03:9-12:20</td>
                                <td>G03:9-12:20</td>
                            </tr>
                            <tr>
                                <td>G04:12:20-14:20</td>
                                <td>G04:12:20-14:20</td>
                                <td>G04:12:20-14:20</td>
                                <td>G04:12:20-14:20</td>
                                <td>G04:12:20-14:20</td>
                            </tr>
                            <tr>
                                <td>G05:14:30-16:30</td>
                                <td>G05:14:30-16:30</td>
                                <td>G05:14:30-16:30</td>
                                <td>G05:14:30-16:30</td>
                                <td>G05:14:30-16:30</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>