
        <section class="section">
            <div class="mainDiv">
                <form>
                    <select>
                        <input type="text" placeholder="Назва">
                        <input type="text" placeholder="Назва">
                    </select>
                    <input type="submit" placeholder="Створити">
                </form>
                <a href="Edit.html">Перейти</a>
            </div>
        </section>