
            <section class="section">
                <div class="photoDiv">
                    <img src="/image/account_circle_500dp_BLACK_FILL0_wght400_GRAD0_opsz48.png">
                </div>
                <div class="mainDiv">
                    <div class="nameDiv">
                        <p>Ім'я</p>
                    </div>
                    <div class="lessonDiv">
                        <p>Hаступні заняття:</p>
                    </div>
                </div>
            </section>