<section class="sect">
                <div class="osnova">
                    <a class="buttonHTML" asp-controller="Group" asp-action="Details">
                        <div id="G03">
                            <div class="colorDiv"><h3>G03</h3> <a>G05</a></div>
                        </div>
                    </a>
                    <a class="buttonCSS" asp-controller="Group" asp-action="Details">
                        <div id="G05">
                            <div><h3>G05</h3></div>
                            
                        </div>
                    </a>
                    <a class="buttonJS" asp-controller="Group" asp-action="Details">
                        <div id="G09">
                            <div><h3>G09</h3></div>
                        </div>
                    </a>
                </div>
            </section>