@model MyMvcApp.Models.DirectionViewModel
        <section class="section">
            <div class="mainDiv">
                <form asp-action="Create" method="post">
                    <input type="text" asp-for="DirectionName" placeholder="Назва">
                    <input type="text" asp-for="DirectionDescription" placeholder="Опис">
                    <input type="submit" value="Створити" class="button">
                </form>
            </div>
        </section>
            <section>
                <div class="table2">
                    <table class="table">
                       <thead class="table-dark th1">
                           <tr><th class="th">Номер</th><th>Назва</th><th>Опис</th><th>Дії</th></tr>
                       </thead>
                       <tbody>
                           <tr><td>№1</td><td>HTML</td><td>Структура</td><td><button type="button" class="btn btn-dark">Деталі</button></td></tr>
                           <tr><td>№2</td><td>CSS</td><td>Стилізація</td><td><button type="button" class="btn btn-dark">Деталі</button></td></tr>
                           <tr><td>№3</td><td>JAVASCRIPT</td><td>Інтерактивність</td><td><button type="button" class="btn btn-dark">Деталі</button></td></tr>
                        </tbody>
                    </table>
                </div>
            </section>      
             
