
    <section class="section">
      <div class="mainDiv">
                <div class="divselect">
                    <h2>Назва: Клас 1 </h2>
                    <p>Опис:</p>
                </div>
                <a href="/Views/Direction/Edit.html" class="btn-shedule">Редагувати</a>
            </div>
    </section>