@using Microsoft.AspNetCore.Mvc.ModelBinding
@model MyMvcApp.Models.DirectionViewModel
    <section class="section">
      <div class="mainDiv">
                <div class="divselect">
                    <h2>@Model.DirectionName </h2>
                    <p>@Model.DirectionDescription</p>
                </div>
            </div>
    </section>
            @section Scripts
        {
            <partial name="_ValidationScriptsPartial" />
                    }
