
        <section class="section">
            <div class="mainDiv">
                <form>
                    <input type="text" placeholder="Змінити назву">
                    <input type="text" placeholder="Змінити опис">
                    <input type="submit" value="Редагувати" class="button">
                </form>
            </div>
        </section>