
            <section class="sect">
                <div class="osnova">
                    <a class="buttonHTML" href="">
                        <div>
                            <div><h3>Intrudaction to HTML</h3></div>
                            <img src="image/html_60dp_1F1F1F_FILL0_wght400_GRAD0_opsz48.png" />
                        </div>
                    </a>
                    <a class="buttonCSS" href="">
                        <div>
                            <div><h3>Intrudaction to CSS</h3></div>
                            <img src="/image/css_60dp_1F1F1F_FILL0_wght400_GRAD0_opsz48.png" />
                        </div>
                    </a>
                    <a class="buttonJS" href="">
                        <div>
                            <div><h3>Intrudaction to JS</h3></div>
                            <img src="image/javascript_60dp_1F1F1F_FILL0_wght400_GRAD0_opsz48.png" />
                        </div>
                    </a>
                </div>
            </section>