#body{
    background-color: #0f1117;
}

header{
    background-color: #1a1d24;
}

footer{
    background-color: #1a1d24 !important;
}

h1{
    color: white;
}

p{
    color: white;
}

header .nav-link, .navbar-brand
{
    color: white !important;
}

