.mainDiv {
    background-color: #2f3540;
    width: 40%;
    min-height: 30vh;
    margin: 50px auto;
    text-align: center;
    border-radius: 1vh;
    align-content: center;
    box-shadow: 2px 2px 35px #46494d;
    padding: 20px 0px;
}

.mainDiv input {
    width: 50%;
    background-color: #3d4450;
    border: none;
    border-bottom: 5px solid #1b212b;
    padding: 5px;
    margin: 7px auto;
    color: white;
    font-size: 1rem;
    border-radius: 0.5vh;


}
.mainDiv input[type="submit"]:active {
    cursor: pointer;
    background-color:  #1b212b;
}

.mainDiv input[type="text"]:hover {
    cursor: pointer;
    background-color:  #1b212b;
}



.section {
    align-content: center;
    width: 100%;
}



.divselect {
    color: #ffffff;
    font-size: 1.6rem;
    margin: 7px auto;
    width: 50%;
    background-color: #2f3540;
    padding: 25px;
    border-bottom: 7px solid #1b212b;
}

.divselect:hover {
    background-color: #565c66;
}

.divselect select:hover {
    cursor: pointer;
}

.table2 {
    text-align: center;
    height: 89%;
    align-content: center;
    color: #ffffff;
    display: flex;
    background-color: #2f3540;
    margin: 0 auto;
    padding: 38px;
    border-radius: 1vh;
    justify-content: center;
    box-shadow: 2px 2px 35px #46494d;
}

.table2 td {
    border: outset #ffffff;
    width: 0 auto;
    font-size: 1.6rem;
    font-weight: 500;
    color: white;
    align-content: center;
}

.finish {
    color: #ffffff !important;
}

