.mainDiv {
    background-color: #2f3540;
    width: 40%;
    min-height: 30vh;
    margin: 50px auto;
    text-align: center;
    border-radius: 2vh;
    align-content: center;
    box-shadow: 2px 2px 35px #46494d;
    padding: 20px 0px;
}

.mainDiv input {
    width: 50%;
    background-color: #ffffff;
    border: none;
    border-bottom: 5px solid #46494d;
    padding: 5px;
    margin: 7px;
    color: white;
    font-size: 1rem;
    border-radius: 0.5vh;


}

.mainDiv input:hover {
    cursor: pointer;
    background-color:  #2f3540;
}

.section {
    align-content: center;
    width: 100%;
}



.divselect {
    color: #646e79;
    font-size: 1.6rem;
    margin: 7px auto;
    width: 50%;
    background-color: rgba(170, 200, 223, 0.73);
    padding: 25px;
    border-bottom: 7px solid #00baa6;
}

.divselect:hover {
    background-color: rgba(170, 200, 223, 0.9);
}

.divselect select:hover {
    cursor: pointer;
}

.button {
    width: 80%;
    height: 70%;
    border-radius: 1vh;
    border: 0;
    border-right: 5px solid #3d4450 !important;
    color: white;
    background-color: #323843 !important;
    font-weight: 1000;
    font-size: 1.4rem;
    border-bottom: 7px solid #3d4450 !important;
}

.button:active {
    border-bottom: 7px solid #323843 !important;
    background-color: #3d4450 !important;
    border-right: 5px solid #323843 !important;
}

.table2 {
    text-align: center;
    height: 89%;
    align-content: center;
    color: #ffffff;
    display: flex;
    background-color: white;
    width: 60%;
    margin: 0 auto;
    padding: 38px;
    border-radius: 3vh;
    justify-content: center;
    box-shadow: 2px 2px 23px black;
}

.table2 td {
    border: outset;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
     color: white;
    align-content: center;
}

