
body{
    background-color: #daeeff;
}

.mainDiv{
    width: 40%;
    min-height: 30vh;
    margin: 0 auto;
    text-align: center;
    border-radius: 3vh;
    align-content: center;
    background-color: #aac8df;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.geoDiv{
    display: flex;
    align-items: center;
    gap: 15px;
}

.mainDiv3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3px;
}

.mainDiv3 i{
    font-size: 2.8rem;
}

.mainDiv3 p{
    font-size: 1.5rem!important;
}

.mainDiv p{
    font-size: 1.9rem;
    margin: 0 auto;
}

.mainDiv h2{
    font-size: 2.2rem;
    margin: 0 auto;
}

.maindiv2{

    width: 40%;
    min-height:30vh;
    margin: 0 auto;
    text-align: center;
    border-radius: 3vh;
    align-content: center;
    background-color: #aac8df;
}

.mainDiv input{
    width: 50%;
    height: 8vh;
    margin: 1vh;
    background-color: #aac8df;
}

input{
    color: #050a30;
    font-size: 1.6rem;
    border-radius: 2vh;
    font-weight: 600;
    padding: 10px;
    box-shadow: 2px 2px 16px black;
}

.submit{
    font-size: 2.1rem;
    margin-top: 5vh!important;
}

.section{
    align-content: center;
    height: 88vh;
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

section{
    height: 81vh;
    width: 100%;
    align-content: center;
    margin: 0 auto;

}
.divflex{
    display: flex;
    background-color: #aac8df;
    min-height:30vh;

     border-radius: 3vh;
    width: 80%;
}

.btn{
    font-size: 1.4rem;
}

.footer{
    background-color: #ffffff;
    width: 100%;
    height: 16vh;
}

.footer a{
    color: #050a30;
    font-size: 1.5rem;
    margin-left: 2vh;
}
.button {
    width: 80%;
    height: 70%;
    border-radius: 1vh;
    border: 0;
    border-bottom: 7px solid #487e8b;
    border-right: 5px solid #487e8b;
    color: white;
    background-color: #71b4c4;
    font-weight: 1000;
    font-size: 1.4rem;
}

#G03 h3{
    background-color: black;
    text-align: left!important;
    height: 7vh;
}

#G05 h3{
    background-color: black;
    text-align: left!important;
    height: 7vh;
}

#G09 h3{
    background-color: black;
    text-align: left!important;
    height: 7vh;
}

.button:active {
    border-bottom: 3px solid #487e8b;
    background-color: #3d8b9d;

    border-right: 1px solid #487e8b;
}

@media (max-width: 1000px){
    .mainDiv{
        width: 48%;
    }

    .mainDiv form input{
        font-size: 2.7rem;
        width: 70%;
    }

    .submit{
        font-size: 3.1rem!important;
    }

    .navbar-brand{
        font-size: 3.8rem;
    }

    .table2{
        text-align: center;
        height: 73%;
        align-content: center;
        color: #ffffff;
        display: flex;
        background-color: white;
        width: 96%;
        margin: 0 auto;
        padding: 38px;
        border-radius: 3vh;
        justify-content: center;
        box-shadow: 2px 2px 23px black;
    }

    .table2 td{
        border: outset;
        width: 100%;
        font-size: 2.1rem!important;
        font-weight: 500;
        color: #050a30;
        align-content: center;
    }

    .table2 th{
        padding: 20px;
        border: outset;
        font-size: 2.2rem;
        align-content: center;
    }

    .btn{
        font-size: 1.7rem;
    }

    .table2 table{
        width: 17vw;
    }
}
.sect {
    min-height: 88vh;
    display: flex;
    align-items: center;
    background-color: #daeeff;
}

.osnova {
    background-color: white;
    min-height:60vh;
    width: 50%;
    margin: 0 auto;
    border-radius: 3vh;
    box-shadow: 2px 2px 23px black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.osnova div {
    border-radius: 1vh;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 2rem;
    width: 30rem;
    font-family: "Ubuntu", sans-serif;
    color: white;
}

.osnova div div {
    display: flex;
    border: 0;
    justify-content: space-around;
    padding: 10px;
}

.osnova div div h3 {
    margin: 0;
    align-content: center;
}

.osnova a {
    text-decoration: none;
}
.buttonJS {
    background-color: black;
    border-bottom: 8px solid black;
    border-right: 6px solid black;
    border-radius: 10px;
}
.buttonJS:active {
    background-color:black;
}
.buttonJS:hover {
    cursor: pointer;
}
.buttonJS IMG{
    background-color: black;
    padding: 10px;
}

.buttonCSS {
 background-color: black;
 border-bottom: 8px solid black;
 border-right: 6px solid black;
 border-radius: 10px;
 }
.buttonCSS:active {
    background-color: black;
}
.buttonCSS:hover {
    cursor: pointer;
}
.buttonCSS img {
    background-color: black;
    padding: 10px;
}

.buttonHTML {
    background-color: black;
    border-bottom: 8px solid black;
    border-right: 6px solid black;
    border-radius: 10px;
}
.buttonHTML:active {
    background-color: black;
}
.buttonHTML:hover {
    cursor: pointer;
}
.buttonHTML img{
    background-color: black;
    padding: 10px;
}
