

.section {
    align-content: center;
    width: 100%;
}



.divselect {
    color: #646e79;
    font-size: 1.6rem;
    margin: 7px auto;
    width: 50%;
    background-color: rgba(170, 200, 223, 0.73);
    padding: 25px;
    border-bottom: 7px solid #00baa6;
}

.divselect:hover {
    background-color: rgba(170, 200, 223, 0.9);
}

.divselect select:hover {
    cursor: pointer;
}



.table2 {
    text-align: center;
    height: 89%;
    align-content: center;
    color: #ffffff;
    display: flex;
    background-color: white;
    width: 60%;
    margin: 0 auto;
    padding: 38px;
    border-radius: 3vh;
    justify-content: center;
    box-shadow: 2px 2px 23px black;
}

.table2 td {
    border: outset;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 500;
     color: white;
    align-content: center;
}

input file {
    background-color: #aac8df;
}
