.divfooter {
    display: flex;
}

.divfootsect {
    width: 33.3%;
    justify-items: left;
    padding-left: 32px;
}
.ulfooter {
    text-decoration: none;
    list-style-type: none;
    font-weight: 200;
    padding: 0;
    text-align: left;

}
.ulfooter li {
    margin: 10px;
    padding: 0;
    margin-left: 0;
}

body {
    padding: 0;
    margin: 0;
}
.h4footer {
    text-align: center;
    font-size: 1.1rem;
}
.footer {
    background-color: #ffffff;
    width: 100%;
    border: 0 !important;
}

.footer a {
     color: white;
    margin-left: 2vh;
}

input file {
    background-color: #aac8df;
}
