
.h2centr{
    text-align: center;

     color: white ;

}
#username{
    width: 50%;
    border: none;
    border-bottom: 5px solid #2f3540;
    padding: 15px;
    margin: 7px;
    align-items: center;
}

#username:hover {
    cursor: pointer;
    background-color: rgba(168, 217, 255, 0.9);
}

#password{
    width: 50%;
    border: none;
    border-bottom: 5px solid #2f3540;
    padding: 15px;
    margin: 7px;
    align-items: center;
}
#password:hover{
    cursor: pointer;
    background-color: rgba(168, 217, 255, 0.9);
}
   .buttlogin{
    width: 80%;
    height: 70%;
    border-radius: 1vh;
    border: 0;
    border-right: 5px solid #487e8b;
    color: white;
    background-color: #71b4c4 !important;
    font-weight: 1000;
    font-size: 1.4rem;
    border-bottom: 7px solid #487e8b !important;
    text-decoration: none;
    text-align: center;
}

.buttlogin:active {
    border-bottom: 3px solid #487e8b;
    background-color: #3d8b9d;
    color: white;

    border-right: 1px solid #487e8b;
}

.buttlogin:hover {
    color: white;
}
.form-container{
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius: 3vh;
    box-shadow: 0 0 12px #050a30;
    width: 50%;
    margin: 0 auto;
    background: #aac8df;
    padding: 5%;

}
.divform1{
    align-content: center;


}
.buttdivlog{
  display: flex;
    justify-content: space-around;
}
.aLog{
    text-decoration: none;
    border: none;
    color: #000000;
    text-align: center;
    margin: 0 auto;
}

#mistake{
    display: none;
}

@media(max-width:1000px){
   .divform1{
    align-content: center;
    height: 80vh;;


}
.form-container{
    border-radius: 3vh;
    box-shadow: 0 0 12px #050a30;
    width: 60%;
    margin: 0 auto;
    background: #aac8df;
    padding: 5%;
    height: 30vh;
    align-content: center;

}
.h2centr{
    text-align: center;
    color: white ;
    font-size: 4rem;

}
    #username{
    display: block;
    width: 75%;
    margin: 0 auto;
    padding:    20px;
    border-radius: 15px;
    transition: 0.2s;
}
    #password{
    width: 75%;
    display: block;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    transition: 0.5s;
}
   
}
    .aLog{
    text-decoration: none;
    border: none;
    display: inline;
    background: #aac8df;
     color: white;
    font-size: 1.4rem;
    padding-left: 1vh;
}
.buttdivlog{
   width: 60%;
    margin: 0 auto;

}
