
            <section class="cartka">
                <div class="photoCartka">
                <img src="/img/account_circle_500dp_BLACK_FILL0_wght400_GRAD0_opsz48.png">
                </div>
                <div class="inform">
                    <div class="name"><p>Iм'я</p></div>
                    <div class="informatia"><p>Інформація</p></div>
                </div>
            </section>