<section class="section">
            <div class="mainDiv">
                <h2>G03</h2>
                <div class="mainDiv3">
                    <div class="geoDiv">
                        <i class="bi bi-mortarboard"></i>
                        <p>Дмитро Цоцинець</p>
                    </div>
                    <div class="geoDiv">
                        <i class="bi bi-geo-alt"></i>
                        <p>Виноградів,вул.Вакарова 13</p>
                    </div>
                </div>
                <p>Субота,10:00-13:20</p>
            </div>
        </section>
        <div class="schedule-container">
            <h2>Розклад Занять Групи [G03]</h2>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>День Тижня</th>
                        <th>Початок Дня</th>
                        <th>Кінець Дня</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Понеділок</th>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th>Вівторок</th>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th>Середа</th>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th>Четвер</th>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th>П'ятниця</th>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>