
        <section class="section">
            <div class="mainDiv">
                <form>
                    <input type="text" placeholder="Назва">
                    <input type="text" placeholder="Опис">
                    <input type="text" placeholder="Складність">
                    <input type="submit" value="Створити" class="submit">
                </form>
            </div>
        </section>
            <section>
                <div class="table2">
                    <table class="table">
                       <thead class="table-dark">
                           <tr><th>Номер</th><th>Назва</th><th>Опис</th><th>Складність</th><th>Дії</th></tr>
                       </thead>
                       <tbody>
                           <tr><td>№1</td><td>Заголовок</td><td>h1-h6</td><td>Легко</td><td><button type="button" class="btn btn-dark">Деталі</button></td></tr>
                           <tr><td>№2</td><td>Параграф</td><td>Весь текст в нього записується</td><td>Легко</td><td><button type="button" class="btn btn-dark">Деталі</button></td></tr>
                           <tr><td>№3</td><td>Таблиці</td><td>Тут приклад</td><td>Важко</td><td><button type="button" class="btn btn-dark">Деталі</button></td></tr>
                        </tbody>
                    </table>
                </div>
            </section>